/*

TemplateMo 583 Festava Live

https://templatemo.com/tm-583-festava-live

*/


/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
:root {
  --white-color:                  #EEEAE1;
  --primary-color:                #F8CB2E;
  --secondary-color:              #773EC5;
  --section-bg-color:             #f0f8ff;
  --custom-btn-bg-color:          #EE5007;
  --custom-btn-bg-hover-color:    #773EC5;
  --dark-color:                   #262626;
  --p-color:                      #BFBFBF;
  --border-color:                 #7fffd4;
  --link-hover-color:             #773ec5;

  --body-font-family:             'Montserrat', sans-serif;
  --text-font-family:             'Raleway', sans-serif;

  --h1-font-size:                 74px;
  --h4-font-size:                 28px;
  --h5-font-size:                 24px;
  --p-font-size:                  18px;
  --btn-font-size:                20px;
  --copyright-font-size:          16px;

  --border-radius-large:          100px;
  --border-radius-medium:         20px;
  --border-radius-small:          10px;

  --font-weight-light:            300;
  --font-weight-normal:           600;
  --font-weight-bold:             600;
}

body {
  background-color: var(--white-color);
  font-family: var(--body-font-family); 
}


/*---------------------------------------
  TYPOGRAPHY               
-----------------------------------------*/

h1 {
  font-size: var(--h1-font-size);
  color:var(--white-color);
  font-weight: var(--font-weight-bold);
}

h4 {
  font-size: var(--h4-font-size);
  color:var(--white-color);
  font-weight: var(--font-weight-bold)
}

h5 {
  font-size: var(--h5-font-size);
}


p {
  color:var(--white-color);
  font-size: var(--p-font-size);
  font-family: var(--text-font-family);
  font-weight: var(--font-weight-light);
}

ul li {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
}

a, 
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  display: inline-block;
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

b,
strong {
  font-weight: var(--font-weight-bold);
}

.link-fx-1 {
  color: var(--white-color);
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 32px;
  padding: 0 6px;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.link-fx-1:hover {
  color: var(--link-hover-color);
}

.link-fx-1:hover::before {
  transform: translateX(17px) scaleX(0);
  transition: transform .2s;
}

.link-fx-1:hover .icon circle {
  stroke-dashoffset: 200;
  transition: stroke-dashoffset .2s .1s;
}

.link-fx-1:hover .icon line {
  transform: rotate(-180deg);
}

.link-fx-1:hover .icon line:last-child {
  transform: rotate(180deg);
}

.link-fx-1::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transform-origin: right center;
  transition: transform .2s .1s;
}

.link-fx-1 .icon {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateX(100%) rotate(90deg);
  font-size: 32px;
}

.icon {
  --size: 1em;
  height: var(--size);
  width: var(--size);
  display: inline-block;
  color: inherit;
  fill: currentColor;
  line-height: 1;
  flex-shrink: 0;
  max-width: initial;
}

.link-fx-1 .icon circle {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  transition: stroke-dashoffset .2s;
}

.link-fx-1 .icon line {
  transition: transform .4s;
  transform-origin: 13px 15px;
}

.link-fx-1 .icon line:last-child {
  transform-origin: 19px 15px;
}

#esp_parr{
  margin-top: -2vh;
}

/*---------------------------------------
  CUSTOM ICON COLOR               
-----------------------------------------*/
.custom-icon {
  color: var(--secondary-color);
}

/*---------------------------------------
  TITULOS Y PARRAFOS
-----------------------------------------*/

#encabezados{
  font-family: var(--body-font-family);
  color: var(--dark-color);
  font-size: 43px;
  font-weight: var(--font-weight-bold);
  text-align: left;
}


#encabez{
  font-family: var(--body-font-family);
  color: var(--dark-color);
  font-size: 43px;
  font-weight: var(--font-weight-bold);
  text-align: left;
  padding-top: 7vh;
}

#index_head{
  font-family: var(--body-font-family);
  color: var(--dark-color);
  font-size: 43px;
  font-weight: var(--font-weight-bold);
  text-align: left;
}

#parrafos{
  font-family: var(--text-font-family);
  color: var(--dark-color);
  text-align: left;
}

#mar_inf{
  margin-bottom: 3vh;
}

.inf{
  margin-bottom: 4vh;
}

/*---------------------------------------
  REMPLAZO DE ROW
-----------------------------------------*/

.linea{
  display: flex;
}

.col-md-6{
  flex: 1;
}


/*---------------------------------------
  SECTION               
-----------------------------------------*/
.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-bg {
  background-color: var(--section-bg-color);
}

.section-overlay {
  background-color: var(--dark-color);
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  opacity: 0.35;
}

.section-overlay + .container {
  position: relative;
}

.tab-content {
  background-color: var(--white-color);
  border-radius: var(--border-radius-medium);
  padding: 45px;
}

.nav-tabs {
  background-color: var(--section-bg-color);
  border-radius: var(--border-radius-large);
  border-bottom: 0;
  padding: 15px;
}

.nav-tabs .nav-link {
  border-radius: var(--border-radius-large);
  border: 0;
  padding: 15px 25px;
  transition: all 0.3s;
}

.nav-tabs .nav-link:first-child {
  margin-right: 15px;
}

.nav-tabs .nav-item.show .nav-link, 
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:focus, 
.nav-tabs .nav-link:hover {
  background: var(--white-color);
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
  color: var(--primary-color);
}

.nav-tabs h5 {
  color: var(--p-color); 
  margin-bottom: 0;
}

.nav-tabs .nav-link.active h5,
.nav-tabs .nav-link:focus h5, 
.nav-tabs .nav-link:hover h5 {
  color: var(--primary-color);
}


/*---------------------------------------
  CUSTOM ICON COLOR               
-----------------------------------------*/
.custom-icon {
  color: var(--secondary-color);
}


/*---------------------------------------
  CUSTOM BUTTON               
-----------------------------------------*/
.custom-btn {
  background: transparent;
  border: 3px solid;
  border-color: var(--white-color);
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--btn-font-size);
  font-weight: var(--font-weight-bold);
  line-height: normal;
  transition: all 0.3s;
  padding: 20px 40px;
}

.custom-btn:hover {
  background: var(--custom-btn-bg-hover-color);
  color: var(--white-color);
}

.custom-border-btn {
  background: transparent;
  border: 2px solid var(--custom-btn-bg-color);
  color: var(--custom-btn-bg-color);
}

.navbar-expand-lg .navbar-nav .nav-link.custom-btn:hover,
.custom-border-btn:hover {
  background: var(--custom-btn-bg-hover-color);
  border-color: transparent;
  color: var(--white-color);
}

.custom-btn-bg-white {
  border-color: var(--white-color);
  color: var(--white-color);
}


/*---------------------------------------
  VIDEO              
-----------------------------------------*/
.video-wrap {
  z-index: -100;
}

.custom-video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*---------------------------------------
  CARRUSEL Y BANNERS
-----------------------------------------*/

#img_calltoaction {
  background-image: url(../img/carrusel/C1.jpg);
  background-size: cover;
  width: 84.4vw;
  height: 68vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 7vh;
  display: flex;
  flex-direction: column; 
}

#img_shop {
  background-image: url(../img/banner_shop.jpg);
  background-size: cover;
  width: 84.4vw;
  height: 68vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 7vh;
}

#bloque_d_texto {
  align-content: center;
  margin-bottom: 25vh;

}

#carru_encabezado {
  font-size: 74px;
  color:var(--white-color);
  font-weight: var(--font-weight-bold);
}

#carru_sep {
  font-size: 42px;
  color:var(--white-color);
  font-weight: var(--font-weight-light);
   letter-spacing: 1vw;
}

.cb_size{
  height: 68vh;

}

#carruper1{
  margin-left: 2vw;
  margin-top: 27vh;
  background-color: #773EC5;
  width:4.7vw;
  height: 10vh;
  border-radius: 100%;
}

#carruper2{
  margin-right: 2vw;
  margin-top: 27vh;
  background-color: #773EC5;
  width:4.7vw;
  height: 10vh;
  border-radius: 100%;
}

#gifmar{
  margin-bottom: 27vh;
  margin-top: 4vh;
  width: 35%;
}

/*---------------------------------------
  NAVIGATION              
-----------------------------------------*/
#mar_logo {
  margin-left: 0.05vw;
  margin-right: 17.2vw;
}


.sticky-wrapper.is-sticky .navbar {
  background-color: var(--p-color);
  opacity: 100%;
}

.navbar {
  background: var(--p-color);
  opacity: 83%;
}

.navbar {
  z-index: 9;
}
.navbar-expand-lg .navbar-nav .nav-link {
  border-radius: var(--border-radius-large);
  margin: 10px;
  padding: 10px 20px;
}
.navbar-nav .nav-link {
  display: inline-block;
  color: var(--dark-color);
  font-size: var(--h5-font-size); 
  font-weight: var(--font-weight-bold);
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar-nav .nav-link.active, 
.navbar-nav .nav-link:hover {
  color: var(--secondary-color);
}

.navbar-toggler {
  border: 0; padding: 0;
  cursor: pointer;
  margin: 0;
  width: 30px;
  height: 35px;
  outline: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
  top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
  background: var(--dark-color); transition: background 10ms 300ms ease;
  display: block;
  width: 30px;
  height: 2px;
  position: relative;
}

.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
  transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
  position: absolute;
  right: 0;
  left: 0;
  background: var(--dark-color);
  width: 30px;
  height: 2px;
  content: '';
}

.navbar-toggler .navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler .navbar-toggler-icon::after {
  top: 8px;
}

/*---------------------------------------
  VIDEO  
-----------------------------------------*/

#ordendetexto {
  padding-top: 15vh;
}
.hero-section {
  position: static;
  position: relative;
  overflow: hidden;
  padding-top: 100px;
  height: 85vh;
}

.hero-section small {
  color: var(--white-color);
  text-transform: uppercase;
}

.hero-section .section-overlay {
  z-index: 2;
  opacity: 0.45;
}

.hero-section .container {
  position: relative;
  z-index: 2;
  height: 83%;
}

.hero-section .container .row {
  height: 100%;
}

/*-------------SERVI IMAGENES------------------*/

#img-mar{
  margin-top: 3.7vh;
}

#img-mar1{
  margin-top: 2.1vh;
}

/*---------------------------------------
  ABOUT        
-----------------------------------------*/

/*------------- FESTIVALES------------------*/

#tam-triada {
  width: 27vw;
}

#mar1{
  margin-left: 0.1vw;
}

#festmar{
  margin-left: 0vw;
}

#festmar{
  margin-left: 1.5vw;
}

/*---------------------------------------
  VENTANAS EMERGENTES              
-----------------------------------------*/

.enlacew{
  font: var(--text-font-family);
  color: var(--white-color);
  font-size: 25px; 
}

.modalidades{
  font: var(--text-font-family);
  color: var(--white-color);
  font-size: 25px;
}

#bloques{
  padding: 7.3vh 7.3vw 7vh 7.3vw;
}

#bloque1{
  padding: 7.3vh 6.5vw 7vh 6.5vw;
}

#bloque2{
  padding: 7.3vh 0vw 7vh 0.8vw;
  width: 99.2%;
}

#mibloc{
  padding: 3vh 0.53vw 0vh 0.53vw;
}

#bq_encab_indx{
  padding: none;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.artists-thumb {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

.artists-image {
  
  display: block;
  width: 100%;
}

.artists-thumb:hover .artists-hover {
  transform: translateY(0);
  opacity: 1;
}

.artists-hover {
  background-color: var(--primary-color);
  background-color: rgba(199, 117, 240, 0.75);
  border-radius: var(--border-radius-medium);
  backdrop-filter: blur(5px) saturate(180%);
  -webkit-backdrop-filter: blur(5px) saturate(180%);
  margin: 20px;
  padding: 35px;
  transition: all 0.5s ease;
  transform: translateY(100%);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
}

.artists-hover p strong {
  color: var(--white-color);
  display: inline-block;
  min-width: 180px;
  margin-right: 20px;
}

.artists-hover p a {
  color: var(--white-color);
}

.artists-hover p a:hover {
  color: var(--secondary-color);
}

.artists-hover hr {
  margin: 1.5rem 0;
}

/*---------------------------------------
  MAPITA       
-----------------------------------------*/

#tam_map{
  margin-left: 7.3vw;
  margin-top: -2vh;
}

/*---------------------------------------
  MI FORMULARIO          
-----------------------------------------*/

#formcuerpo {
  background-color: var(--dark-color);
  width: 99.2%;
  margin-left: 0.3vw;
  padding: 7vh 5vw 5vh 5vw;
}

#formar {
  margin-bottom: 5vh;
}

#formfilas {
  background-color: var(--white-color);
  border: none;
  border-radius: 50px;
  font-size: 30px;
}

#form-text-area {
  background-color: var(--white-color);
  border: none;
  border-radius: 25px;
  font-size: 30px;
}

#mar_and_pad{
  margin: 0vh 0vw 0vh 0vw;
  padding: 0vh 0vw 0vh 0vw;

}

#b-padding{
  margin-left: 28vw;
}

/*---------------------------------------
  SITE FOOTER              
-----------------------------------------*/

#bpad{
  margin-top: 12vh;
}

.textbody{
  margin-top: 3vh;
} 

#accesosweb{
  font-size: 28px;
}

#hiperv{
  margin-top: 4vh;
  margin-bottom: 4vh;
}

#ESG_supp{
  margin-top: -1vh;
}

#ESG_sup{
  margin-top: 5vh;
}

#ESG_inf{
  margin-bottom: 5vh;
}

.lat{
  margin-right: 2.5vh;
  margin-left: 2.5vh;
}

.site-footer {
  background-color: var(--dark-color);
  position: relative;
  overflow: hidden;
  padding-bottom: 30px;
}

.site-footer-top {
  background-color: var(--secondary-color);
  background-image: url('../images/nainoa-shizuru-NcdG9mK3PBY-unsplash.jpg');
  background-repeat: no-repeat;
  margin-bottom: 70px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.site-footer-bottom {
  border-top: 1px solid #1f1c1c;
  margin-top: 60px;
}

.site-footer-title {
  color: var(--primary-color); 
}

.site-footer-link,
.copyright-text {
  color: var(--white-color);
}

.site-footer-links {
  padding-left: 0;
}

.site-footer-link-item {
  list-style: none;
  display: inline-block;
  margin-right: 15px;
}

.copyright-text {
  font-size: var(--copyright-font-size);
}


/*---------------------------------------
  SOCIAL ICON               
-----------------------------------------*/
.social-icon {
  margin: 0;
  padding: 0;
}

.social-icon-item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.social-icon-link {
  background: var(--secondary-color);
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--copyright-font-size);
  display: block;
  margin-right: 10px;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 36px;
  transition: background 0.2s, color 0.2s;
}

.social-icon-link:hover {
  background: var(--primary-color);
  color: var(--white-color);
}

.social-icon-link span {
  display: block;
}

.social-icon-link span:hover::before{
  animation: spinAround 2s linear infinite;
}

@keyframes spinAround {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg);
  }
}

/*---------------------------------------
  ANIMACIONES       
-----------------------------------------*/

#ani {
  transition: transform 0.5s ease-in-out;
}

#ani:hover {
  transform: scale(1.2);
}




/*---------------------------------------
  RESPONSIVE STYLES               
-----------------------------------------*/
@media screen and (max-width: 480px) {

  /*-----FOOTER-------*/

  #mar_logo{
    width: 70%;
    margin-right: -3vw;
  }

  .titufoot{
    text-align: center;
    font-size: 30px;
    margin-top: 5vh;
  }
  
  .textbody{
    margin: 2vh 3vw 0vh 3vw;
    text-align: center;
  }  

  #social-container {
    display: flex;
    justify-content: space-between;
  }
  
  #accesosweb{
    display: inline-block;
    justify-content: space-between;
    text-align: center;
    font-size: 2.2vh;
    margin: 0%;
    padding: 0%;
  }

  #hiperv{
    margin-left: 7.1vw;
    margin-right: 7.1vw;

  }

  #lat  {
    height: 15vw;
  }

  h1 {
    font-size: 50px;
  }

  .section-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #hamburguesita {
   color: var(--dark-color);
   padding: 0%;
  }
  
  .navbar {
    background-color: var(--p-color); 
    opacity: 0.95;
  }

  .navbar-expand-lg .navbar-nav {
    padding-bottom: 30px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
  }

  .hero-section {
    padding-top: 150px;
  } 
}

@media screen and (max-width: 480px) {
  .custom-btn {
    font-size: 20px;
    padding: 15px 30px;
  }
}

/*-----NAV HAMBURGUESA-------*/

#hamburguesa {
  border: none;
  background: transparent;
  font-size: 10vw;
}


@media (min-width: 480px) {

  #accesosrap{
    font-size: 23px;
  }
  
  #hamburguesa {
    display: none;
  }
}

/*-----CARRUSEL-------*/

@media (max-width: 480px) {

  #b_accesible {
    margin-top: 17vh;
    margin-bottom: 1vh;
  }

  #carru_encabezado {
    font-size: 46px;
  }
  
  #carru_sep {
    font-size: 30px;
     letter-spacing: 1vw;
  }


  .cb_size{
    height: 45vh;
  }

  #bloque_d_texto {
    align-content: center;
    margin-bottom: 3vh;
  
  }
  
  #carruper1{
    margin-left: 2vw;
    margin-top: 20vh;
    background-color: #773EC5;
    width:14vw;
    height: 6.7vh;
    border-radius: 100%;
  }
  
  #carruper2{
    margin-right: 2vw;
    margin-top: 20vh;
    background-color: #773EC5;
    width:14vw;
    height: 6.7vh;
    border-radius: 100%;
  }

  #encabezados{
    font-size: 40px;
  }
  
}

#pline  {
  height: 0.5vh; 
  border: none;
  background-color: #2c164a;
}

/*-----BANNER Y CARRUSEL-cambio de Imagenes-------*/

@media (max-width: 480px) {

  #img_calltoaction {
    background-image: url(../img/carrusel/C1_movil.jpg);
    background-size: cover;
    width: 84.5vw;
    height: 40vh;
    margin-left: 5vw;
    padding-bottom: 5vh;
  }

  #img_shop {
    background-image: url(../img/banner_shop-movil.jpg);
    background-size: cover;
    width: 84.5vw;
    height: 40vh;
    margin-left: 5vw;
    padding-bottom: 5vh;
  }

}

/*-----Margenes y Padding Responsive-------*/

@media (max-width: 480px) {
  #bloques{
    padding: 3vh 7.3vw 0vh 7.3vw;
  }

  #bloque1{
    padding: 3vh 7.3vw 0vh 7.3vw;
  }

  #bloque2{
    padding: 3vh 7.3vw 0vh 7.3vw;
  }

  #mibloc{
    padding: 3vh 7.3vw 0vh 7.3vw;
  }

  #bq_encab_indx{
    padding: 3vh 5vw 0vh 5vw;
  }

  #img-mar{
    margin-top: 0vh;
  }
  
  #img-mar1{
    margin-top: 0vh;
  }

  #responsive_line{
   padding-right: 0vw;
   padding-left: 0vw;
  }

  .linea {
    display: block;
  }

  .row {
    display: block;
  }

  .col-md-6 {
    margin: 0;
    padding: 10px;
  }

  #bpad{
    margin-top: 3vh;
  }

  #b-padding{
    margin-left: 6vw;
  }
  

}


/*-----Festivales-------*/

@media (max-width: 480px) {

#tam-triada {
  width: 90vw;
}

#margen_titu {
  margin-left: 3.5vw;
}

#mar1{
  margin-left: 4.3vw;
}

#mar2{
  margin-left: 4.3vw;
}

#festmar{
  margin-left: 8.5vw;
}

}

/*-----About y inicio-------s*/

@media (max-width: 480px) {

  #gifmar{
    margin-bottom: 17vh;
    margin-top: 2vh;
    width: 74%;
  }

#c_block{
  padding: 3vh 5.3vw 2.5vh 0vw;
}

#overimg{
    overflow: hidden;
    width: 85.3vw;

}

#formcuerpo {
  width: 100%;
  margin: 0vh 0vw 3vh 0vw;
  padding: 5vh 7vw 5vh 7vw;
}

#index_head{
  font-size: 36px;
}


  
}

/*-----Ajustes de Scrolldown para movil-------*/

@media (max-width: 480px) {

  /* No media queries needed, this animation will work on all screen sizes */

.artists-hover {
  /* Existing styles for hover animation on desktop */
  opacity: 0;  /* Initially hidden */
  transform: translateY(100%);  /* Initially moved off-screen */
  transition: all 0.5s ease;  /* Smooth transition */
}

/* New styles for scroll reveal animation */

.artists-hover.is-revealed {
  opacity: 1;
  transform: translateY(0);
}
  
  }




